.layout-body {
    display: flex;
    justify-content: center;
    width: 100%;
}

.main-content {
    width: 100%;
    max-width: 1400px;
    padding: 1.5rem 1rem;
    min-height: calc(100vh - 60px);
}

@media (min-width: 640px) {
    .main-content {
        padding: 3rem 2rem;
    }
}
